/* GENERAL */

body {
	margin: 0;
}

p {
    margin: 1.5em 0;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 2em;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

.blue {
    background-color:#00bcd4;
}

.darkblue {
    background-color: darkblue;
}

.blue-text {
    color: blue;
}

/* END GENERAL  */

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 2em;
}

aside {
    display: inline-block;
    margin-right: 100px;
    width: 25%;
}

main section {
    display: inline-block;
    width: 500px;
}

main img {
    display: inline-block;
}

main img.logo {
    width: 200px;
}

main section.container {
    padding: 3em 2em;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    display: inline;
}

.btn {
    border: 3px dashed #9b9b9b;
    border-radius: 25px;
    background-color: white;
    color: #9b9b9b;
    padding: 1.5em;
    margin: 1.5em 0;
    cursor: pointer;
    width:25%;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

label {
    display: block;
}




